.footer {
    border-top: 2px solid black;
    position: absolute;
    bottom: 0;
    background-color: lightgrey;
    height: 5rem;

    
}

.footer p{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-bottom: 0px;
}

@supports (display:grid) {
    .footer {
        position:static;
    }

}