
.header {
    width: 100%;
    height: 7rem;
    background-color: #709090;
    position: absolute;
    font-size: large;
    padding-top: 1rem;
    top: 0;
    text-align: center;
    text-shadow: 2px 2px darkgrey;
}



.navContainer {
    width: 100%;
    position: relative;
    height: 3rem;
    top: 7rem;
    margin-bottom: 4rem;
    
    
}


.navList {
    background-color: #708090;
    border: 1px solid black;
    padding: 20px;
    overflow: hidden;
    position: relative;
    top: 7rem;
     
  }

.navElement {
    display: inline;
    line-height: 40px;
    border-right: 1px solid black;
}

.navBullet {
    font-size: 25px;

    padding: 3% 3%;
    color: white;
    text-decoration: none;
    text-align: center;
}

.navBullet:hover {
    background-color: #ddd;
    color: black;
}

.footer {
    border-top: 2px solid black;
    position: fixed;
    bottom: 0;
    background-color: lightgrey;
    height: 5rem;
    width: 100%


}

.footer p{
    text-align: left;
    padding-left: 20px;
}

/* Table styles */

.table {
    width: 100%;
    position: relative;
    top: 10rem;
    margin-right: 1rem;
 
}

.th {
    text-align: center;
    padding: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

.td {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


/* Styles specific to index page*/

.indexBody {
    width: 100%;
    position: relative;
    top: 10rem;
    height: auto;


}

.me {
    height: 400px;
    position: relative;
    top: 8rem;
    display: block;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    box-shadow: 2px 2px slategrey;


}

.indexBody p{
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: whitesmoke;
    margin: 20px;
    

    

}

.indexBody a{
    color: whitesmoke;
    text-decoration: none;
    height: 1px;
}


.spanCont {
    background-image: linear-gradient(aqua, aqua);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: 100% 2px;
    transition: background-size .5s, background-position .3s ease-in .5s;
}

.spanCont:hover {
    background-size: 100% 100%;
    background-position: 0% 0%;
  }

.projectBody img {
    max-width: 80%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: 10rem;
    border-radius: 1rem;
}

.projectBody a{
    
    color: whitesmoke;
    text-decoration: none;

    
}

.p1Header {
    position: relative;
    margin: auto;
    text-align: center;
    top: 8rem;
}

.projectBody p{
    position: relative;
    margin: auto;
    line-height: 2.5rem;
    text-align: center;
    top: 9rem;
    color: whitesmoke;
    font-size: 2rem;
}